:root {
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", sans-serif;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

header {
  position: relative;
  height: 60px;
  background-color: #20262b;
  color: #fff;
}

.wrapper {
  height: 100%;
  width: 1250px;
  max-width: 100vw;
  margin: 0 auto;
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.header-container * {
  cursor: pointer;
}

.profile-icon {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  background-image: url(icons/profile_min.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-icon.header-icon  {
  width: 30px;
  height: 30px;
  background-position: 0 0;
}

.loading-layout {
  width: 100%;
  border-radius: 4px;
  background: linear-gradient(90deg, transparent, rgb(232, 232, 232));
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.layout {
  min-height: 110vh;
  margin-top: 25px;
}

.navigation-bar {
  display: flex;
  gap: 20px;
}

.profile-drawer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.profile-drawer-content {
  flex: 1;
}

.auctions-page {
  display: flex;
}

.auctions-count-bar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(197, 197, 197);
  margin-bottom: 20px;
}

.auctions-count-bar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(197, 197, 197);
  margin-bottom: 20px;
  align-content: center;
}

.auction-list {
  width: 930px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
  box-sizing: border-box;
  border-left: 1px solid rgb(197, 197, 197);
}

.filter-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
  box-sizing: border-box;
}

.auction-card {
  padding: 20px;
  box-shadow: 0 2px 12px #eef1f7;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
}

.auction-card-title { 
  display: block;
  color: #468ffd;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.auction-card-outer-link {
  position: relative;
  z-index: 1;
}

.auction-card-inner-link {
  position: relative;
  z-index: 2;
}

.bid-button {
  background-color: #0dc267;
  color: transparent;
  border-radius: 4px;
  width: 130px;
  height: 30px;
}

.default-container {
  width: 600px;
  margin: 0 auto;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.tab {
  position: relative;
  flex: 1;
}

.default-input-container {
  min-height: 580px;
}

.default-tabs {
  margin-bottom: 30px;
}

.default-tabs .tab {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-left: 1px solid rgb(197, 197, 197);
  cursor: pointer;
}

.default-tabs .tab.disabled {
  color: rgb(197, 197, 197);
  cursor: default;
}

.default-tabs .tab:last-child {
  border-right: 1px solid rgb(197, 197, 197);
}

.default-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100vw;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.profile-page {
  display: flex;
}

.profile-bar {
  width: 300px;
  padding: 20px;
  box-shadow: 0 2px 12px #eef1f7;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
}

.auction-page {
  display: flex;
  flex-wrap: wrap;
}

.auction-owner-view {
  display: inline-flex;
  gap: 9px;
  align-items: center;
}

.auction-owner-view span {
  font-size: 20px;
}

.profile-icon.auction-owner-icon {
  width: 60px;
  height: 60px;
  background-position: -60px 0;
}

.auction-container {
  width: 900px;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 20px;
  max-width: 100%;
  box-shadow: 0 2px 12px #eef1f7;
}

.auction-container h2 {
  color: #1976d2;
}

.auction-bids {
  display: flex;
  flex-direction: column;
  gap: 9px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 12px #eef1f7;
}

.auction-bid-container {
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 12px #eef1f7;
  display: flex;
  gap: 6px;
}

.auction-bid-content * {
  display: block;
}

.auction-bid-amount {
  font-size: 20px;
  color: lightgreen;
}

.auction-bid-comment {
  color: #9eabb8;
}

.current-bid-separator {
  border-top: 1px solid lightgreen;;
  text-align: center;
  color: lightgreen;;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.no-bids {
  color: #9eabb8;
  text-transform: uppercase;
  text-align: center;
}

.profile-icon.auction-bid-icon {
  width: 40px;
  height: 40px;
  background-position: -40px 0;
}

.auction-description-row {
  margin: 20px 0;
}

.categories-view {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.category-view {
  box-sizing: border-box;
  padding: 2px 8px;
  border: 1px solid #d2dae2;
  border-radius: 5px;
  color: #9eabb8;
  text-decoration: none;
  white-space: nowrap;
  font-size: 13px;
}

.default-stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.stepper-arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.stepper-arrow-container span {
  display: block;
  min-width: 50px;
}